button {
    font-size: var(--font-size);
    font-family: 'Nunito', sans-serif;
    font-weight: 800;
    color: var(--text-color);
    height: var(--height);
    width: var(--width);
    background-color: var(--primary-color);
    border-width: 0 px;
    border-color: rgba(245, 245, 245, 0.7);
    margin: 10px;
    border-radius: var(--border-radius);
    box-shadow: -12px -12px 20px rgba(255, 255, 255, 0.8), 10px 10px 20px rgba(166, 180, 200, 0.7);
   
   
}

.inverted {
    background-color: var(--text-color);
    color: var(--primary-color);
}

.pressed {
    box-shadow: none;
    position: relative;
    top: 3px; left: 3px;
}