.avatar{
	background-color: #F7AA80 !important;
	width: 60px !important;
	height: 60px !important;
	color:black !important;
}

.item{
	padding-left: 115px;
	margin-top: -52px;
}

.num{
	margin-top: 34px;
}

